Intermediate/Build/Win64/x64/PhysicsPuzzleEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.Cpp20.h.pch
.vs/PhysicsPuzzle/CopilotIndices/17.14.1530.14912/CodeChunks.db
.vs/PhysicsPuzzle/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
.vs/PhysicsPuzzle/v17/Browse.VC.db
